p {
  margin: 0;
}

body {
  background-color: #f4f7f6;
}

.grid {
  max-width: 1500px;
  margin: auto;
}

.grid-header {
  background-color: #f4f7f6;
  border: 1px solid black;
  height: 70px;
  font-size: 13px;
}

.logo-container {
  display: flex;
  height: inherit;
  justify-content: space-between;
}

.header-left {
  padding: 22px 25px 0 10px;
  height: inherit;
  border-right: 1px solid black;
}

.search-icon {
  height: inherit;
  padding-top: 23px;
}

.search-icon > i {
  align-self: flex-start;
}

.header-center > img {
  align-self: center;
  height: 67px;
  width: auto;
  margin: 0 275px 0 260px;
}

.register {
  align-self: center;
  padding: 21px 0px 21px 10px;
  margin-right: -40px;
  transition: color 0.3s ease-in-out;
}

.submit {
  align-self: center;
  padding: 21px;
  background-color: #48c6b6;
  color: white;
}

.grid-nav {
  background-color: #f4f7f6;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 6fr;
  height: 69px;
}

.grid-nav p {
  padding: 14px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.grid-nav p:first-child {
  border-left: 1px solid black;
}

.menu-icon-parent {
  border-right: 1px solid black;
  justify-content: flex-end;
  border-bottom: 1px solid black;
}

/* .fa-th {
  margin-top: 10px;
  margin-left: 150px;
} */


.grid-items-parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  justify-content: center;
  margin: inherit;
  grid-auto-flow: dense;
}

.grid-items {
  background-color: green;
}
.grid-footer{
  background-color: purple;
}
