/* @media screen and (max-width: 1484px) {
    .grid-items-parent {
      grid-gap: 50px;
    }
} */

p {
  margin: 0;
}

body {
  background-color: #f4f7f6;
}

/* .grid {
  margin: auto;
} */

.grid-header {
  /* position: fixed; */
  background-color: #f4f7f6;
  border: 1px solid black;
  height: 70px;
  font-size: 13px;
}

.logo-container {
  display: flex;
  height: inherit;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.header-left {
  padding: 22px 25px 0 10px;
  height: inherit;
  border-right: 1px solid black;
}

.search-icon {
  height: inherit;
  padding-top: 23px;
}

.search-icon > i {
  align-self: flex-start;
}

.header-center > img {
  align-self: center;
  height: 67px;
  width: auto;
  margin: 0 275px 0 260px;
}

.register {
  align-self: center;
  padding: 21px 0px 21px 10px;
  margin-right: -40px;
  transition: color 0.3s ease-in-out;
}

.submit {
  align-self: center;
  padding: 21px;
  background-color: #48c6b6;
  color: white;
}

.grid-nav {
  /* position: fixed; */
  background-color: #f4f7f6;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 6fr;
  height: 69px;
}

.grid-nav p {
  padding: 14px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.grid-nav p:first-child {
  border-left: 1px solid black;
}

.menu-icon-parent {
  border-right: 1px solid black;
  justify-content: flex-end;
  border-bottom: 1px solid black;
}

/* .fa-th {
  margin-top: 10px;
  margin-left: 150px;
} */


.grid-items-parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  grid-auto-flow: dense;
  padding: 70px 0 70px 0;
  max-width: 1500px;
  margin: auto;
}

.grid-items {
  background-color: #46494f;
}

.text-grid-item {
  height: 150px;
  background-color: white;
  padding: 30px;
}

.text-grid-item .space {
  display: flex;
  justify-content: space-between;
}


.grid-items img {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  transition: all 0.3s;
  transform: translateZ(0);
}

.grid-items:hover img {
  opacity: 0.5;
  background-color: #46494f;
  /* transform: scale(1.2); */
}

/* .award-tag1 {
  background-color: #9FD2D6;
  color: #fff;
} */

.award-tag2 {
  background-color: #9FD2D6;
  color: #fff;
}

.award-tag3 {
  background-color: #9FD2D6;
  color: #fff;
}

.award-tag1 {
  background-color: #9FD2D6;
  color: #fff;
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}

.award-tag1:hover{
	content: 'Honorable Mention';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -20px;
	margin-bottom: -50px;
}



/* .grid-items:hover img {
  display: block;
  background: #E6EAEA;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.grid-items img:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #202121;
  border: 3px solid red;
  opacity: 0;
  z-index: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
} */

.grid-footer{
  background-color: purple;
}
